*{



}

$danger : rgb(245, 103, 103);

.error{
    color: $danger;
}
.hide{
    display: none !important
}
#modalResultat{
    width: 70%;
    z-index: 1000;
    position: absolute;
    right: 50%;

    transform: translateY(50%);
    transform: translatex(50%);
}

@import "./node_modules/bootstrap/scss/bootstrap"; 