.error{
    color: red;
}
#questions{
    position: relative;
    background: blue;
    left: -3000px;
}
.w{
    background: red;
}
/* #progressbar{
    height: 100%;
    background: red;
} */
/* .infoUtilisateur{
    display:flex;
    flex-direction: column;
} */
.cache{
    display: none
}